@import url(./root.css);

/* BASIS LAYOUT */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg-tertiary);
  display: grid;
  grid-template-columns: 232px 1fr;
  grid-template-rows: 80px 1fr;
  height: 100vh;
}

main {
  max-width: 1920px;
  width: 100%;
}

.content-area {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 60px;
  overflow-y: auto;
}

/* PLACEHOLDER */
.sidebar-placeholder,
.header-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}
