button {
  cursor: pointer;
  border-radius: 10px;
}

.btn-dark {
  padding: 15px 24px;
  background-color: var(--color-bg-secondary);
  color: var(--color-bg-primary);
  border: none;
  border-radius: 8px;
  font-size: 21px;
  font-weight: 700;
}

.btn-dark:hover {
  background-color: var(--color-highlights);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-light {
  padding: 15px 24px;
  background-color: var(--color-bg-primary);
  color: var(--color-bg-secondary);
  border: 1px solid var(--color-bg-secondary);
  border-radius: 8px;
  font-size: 21px;
  font-weight: 700;
}

.btn-light:hover {
  color: var(--color-highlights);
  border: 1px solid var(--color-highlights);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.arrow-btn:hover {
  filter: brightness(0.8);
}

/* Button Board */
.btn-board {
  padding: 10px 20px;
  background-color: var(--color-bg-secondary);
  color: var(--color-bg-primary);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
}

.btn-board:hover {
  background-color: var(--color-highlights);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
