button {
  cursor: pointer;
  border-radius: 10px;
}

.btn {
  border: none;
  background: none;
}

.btn-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  background-color: var(--color-bg-secondary);
  color: var(--color-bg-primary);
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
}

.btn:hover {
  color: var(--color-highlights);
  border: 1px solid var(--color-highlights);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-dark:hover {
  background-color: var(--color-highlights);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-dark:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-light {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  background-color: var(--color-bg-primary);
  color: var(--color-bg-secondary);
  border: 1px solid var(--color-bg-secondary);
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
}

.btn-light:hover {
  color: var(--color-highlights);
  border: 1px solid var(--color-highlights);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.arrow-btn:hover {
  filter: brightness(0.8);
}

/* Button Board */
.btn-board {
  padding: 10px 20px;
  background-color: var(--color-bg-secondary);
  color: var(--color-bg-primary);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
}

.btn-board:hover {
  background-color: var(--color-highlights);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* ===== CONTACT BUTTONS ===== */

.add-contact-btn {
  background-color: var(--color-bg-secondary);
  color: var(--color-bg-primary);
  width: 300px;
  height: 56px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 12px;
}

.contact-dialog-close-button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contact-dialog-cancel-button {
  width: 130px;
  height: 45px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: anchor-center;
  background-position: right 10px center;
  background-repeat: no-repeat;
}

.contact-dialog-create-button {
  height: 45px;
  width: 200px;
  font-size: 18px;
  display: flex;
  align-items: anchor-center;
  background-image: url('../assets/icons/create-task.svg');
  background-position: right 10px center;
  background-repeat: no-repeat;
}

.contact-input-and-close-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 55px;
}

.edit-delete-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

@media (max-width: 600px) {
.btn-light {
  font-size: 16px;
  }

.btn-dark {
  font-size: 16px;
  }
}