/* ===== CONTACT LIST ===== */

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.contact-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-bg-primary);
  font-weight: bold;
}

.contact-avatar-large {
    width: 120px;
    height: 120px;
    font-size: 40px;
}

.contacts-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* ===== SIDE BAR ===== */
.contact-dialog-sidebar {
  width: 400px;
  height: 100%;
  display: block;
}

.contacts-sidebar {
  width: 400px;
  background-color: var(--color-bg-primary);
  padding: 24px;
  overflow-y: auto;
  box-shadow: 4px 0px 18px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-letter-container {
  margin-top: 24px;
}

.contact-letter {
  font-size: 20px;
  margin-bottom: 16px;
}

.contact-divider {
  height: 1px;
  background-color: var(--color-divider);
}

/* ===== POPUP / DIALOG ===== */

.contact-dialog {
  border: none;
  border-radius: 20px;
  padding: 0;
  margin: auto;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.contact-dialog-open {
  transform: translateX(0);
}

.contact-dialog-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}

.contact-dialog-form {
  padding: 0 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.contact-dialog-input {
  box-sizing: border-box;
  width: 400px;
}

.contact-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ===== POPUP BUTTONS ===== */

.contact-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}

/* ===== CONTACT DETAILS ===== */
.contact-details-title{
  padding: 24px;
}

.contact-details-content{
  padding: 24px;
}
