/* ===== CONTACT LIST ===== */

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.contact-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-bg-primary);
  font-weight: bold;
}

.contact-letter {
  font-weight: bold;
  margin-top: 20px;
}

/* ===== SIDE BAR ===== */
.contact-dialog-sidebar {
  width: 400px;
  height: 100%;
  display: block;
}

/* ===== ADD CONTACT BUTTON ===== */

.add-contact-btn {
  background-color: var(--color-bg-secondary);
  color: var(--color-bg-primary);
  width: 300px;
  height: 56px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 12px;
}


/* ===== POPUP / DIALOG ===== */

.contact-dialog {
  border: none;
  border-radius: 20px;
  padding: 0;
  margin: auto;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.contact-dialog-open {
    transform: translateX(0);
}

.contact-dialog-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}

.contact-dialog-form {
  padding: 0 40px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.contact-dialog-input {
  box-sizing: border-box;
  width: 300px;
}

.contact-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* ===== POPUP BUTTONS ===== */

.contact-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}

.contact-dialog-close-button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contact-dialog-cancel-button {
  background-color: var(--color-bg-primary);
  display: flex;
  width: 100px;
  height: 45px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border: 1px solid var(--color-bg-secondary);
}

.contact-dialog-create-button {
  background-color: var(--color-bg-secondary);
  color: var(--color-bg-primary);
  height: 45px;
  width: 180px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-input-and-close-button{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 55px;
}