.help-head {
  display: flex;
  max-width: calc(1920px - 230px);
}

.help-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: calc(1920px - 230px);
  font-size: 16px;
  line-height: 24px;
  padding-right: 35px;
  padding-left: 60px;
}

.help-main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 35px;
}

.highlighted {
  color: var(--color-text-main);
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
}

.how-to-use {
  display: flex;
  flex-direction: column;
  max-width: 1014px;
  gap: 16px;
}

.how-to-use-numbers {
  display: flex;
  gap: 35px;
  font-size: 27px;
  line-height: 32.4px;
}

.help-article {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.how-to-use-li {
  display: flex;
  align-items: flex-start;
  font-size: 27px;
  font-weight: 700;
  gap: 35px;
}

.textbox-how-to-use-li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
