body {
    margin: 0px;
}

body.has-active-page .help-icon {
    display: block;
}

body.help-open .help-icon {
    display: none;
}

.layout {
    position: relative;
    z-index: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

.layout::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 96px;
    /* Höhe vom Header */
    left: 0;
    right: 0;
    height: 4px;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

header {
    grid-area: header;
    position: relative;
    z-index: 3;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 100px);
    max-width: 1920px;
    background-color: var(--color-bg-primary);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 60px;
}

.header-left {
    font-size: 20px;
    font-style: regular;
    line-height: 120%;
    letter-spacing: 0%;
    font-weight: 400;
    color: var(--color-text-main);
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.help-icon {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #ccc;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.help-icon:hover {
    transform: scale(1.1);
}

.help-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid var(--color-bg-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--color-highlights);
    font-weight: bold;
    font-size: 18px;
}

.header-avatar:hover {
    background-color: rgba(12, 46, 98, 0.12);
}

aside {
    grid-area: sidebar;
    position: relative;
    z-index: 4;
    background-color: var(--color-bg-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 60px);
    max-height: calc(1080px - 60px);
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-item {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 8px;
    width: calc(230px - 56px);
    padding-left: 56px;
    color: var(--color-menu-button-text);
    cursor: pointer;
}

.nav-item:hover {
    background-color: var(--color-menu-hover);
}

.nav-item.active {
    background-color: var(--color-menu-active);
    cursor: default;
}

.nav-icon {
    width: 30px;
    height: 30px;
}

.nav-text {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
}

.menu-center {
    gap: 15px;
}

.menu-bottom {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 243px;
}

.nav-link {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    gap: 8px;
    width: calc(230px - 56px);
    padding-left: 56px;
    color: var(--color-menu-button-text);
    cursor: pointer;
}

.nav-link.active {
    background-color: var(--color-menu-active);
    cursor: default;
    transform: none;
}

.menu-bottom-link {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: var(--color-menu-button-text);
}

.nav-link:not(.active) .menu-bottom-link:hover {
    color: var(--color-highlights);
    transform: scale(1.1);
}

main {
    grid-area: main;
    background-color: var(--color-bg-quaternary);
    position: relative;
    z-index: 1;
}