body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-bg-tertiary);
    font-family: 'Inter', sans-serif;
}

.content-wrapper {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
}

.welcome-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.join-logo {
    display: flex;
    justify-content: flex-start;
    margin-top: 80px;
    margin-left: 80px;
    width: 100px;
}

.signup-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 80px;
    gap: 36px;
}

p {
    color: var(--color-text-main);
    font-size: 20px;
    font-weight: 400;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 448px;
    width: 648px;
    background-color: var(--color-bg-primary);
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.h1-login {
    color: var(--color-text-main);
}

.login-hr {
    width: 140px;
    border: 2px solid var(--color-highlights);
    margin-top: 16px;
    margin-bottom: 20px;
}

.username, .password {
    width: 422px;
    height: 48px;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid var(--color-link);
    border-radius: 10px;
}

.username:focus, .password:focus {
    border-color: var(--color-highlights);
    outline: none;
}

.username {
    background-image: url('../assets/icons/mail-icon-login.svg');
    background-position: right 10px center; 
    background-repeat: no-repeat;
}

.password {
    background-image: url('../assets/icons/lock-icon-login.svg');
    background-position: right 10px center; 
    background-repeat: no-repeat;
}

.login_btn-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 20px;
    width: 100%;
}

.login-btn, .signup-btn {
    padding: 15px 24px;
    background-color: var(--color-bg-secondary);
    color: var(--color-bg-primary);
    border: none;
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
}

.login-btn:hover, .signup-btn:hover {
    background-color: var(--color-highlights);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.guest-btn {
    padding: 15px 24px;
    background-color: var(--color-bg-primary);
    color: var(--color-bg-secondary);
    border: 1px solid var(--color-bg-secondary);
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
}

.guest-btn:hover {
    color: var(--color-highlights);
    border: 1px solid var(--color-highlights);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    margin-top: 80px;
    color: var(--color-link);
    font-size: 16px;
    cursor: pointer;
}

footer a:hover {
    color: var(--color-highlights);
    font-weight: bold;
}