* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

h2{
  font-size: 54px;
  color: var(--color-text-main);
}

.hidden {
  display: none !important;
}

p {
  font-weight: 400;
  font-size: 16px;
}

.aside {
  display: flex;
}

.tooltip {
  position: relative;
  cursor: help !important;
}

.tooltip-text {
  position: absolute;

  bottom: calc(100% + 8px);
  right: 0;

  background: var(--color-bg-secondary);
  color: white;

  padding: 6px 10px;
  border-radius: 6px 6px 6px 0;

  font-size: 11px;
  font-weight: 400;
  line-height: 1.2;

  white-space: nowrap;

  opacity: 0;
  pointer-events: none;

  transition:
    opacity 0.2s ease 0.5s;
}

.tooltip:hover .tooltip-text {
  opacity: 0.75;
}

.tooltip:not(:hover) .tooltip-text {
  transition-delay: 0s;
}