* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--color-link);
}

h2{
  font-size: 54px;
  color: var(--color-text-main);
}

.hidden {
  display: none !important;
}

p {
  font-weight: 400;
  font-size: 16px;
}

.aside {
  display: flex;
}

.tooltip {
  position: relative;
  cursor: help !important;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -80%;
  left: 25%;
  transform: translateX(-50%);
  background: var(--color-bg-secondary);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  white-space: nowrap;
  transition: opacity 0.2s ease;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 0.75;
}