/* Alle Variablen die man für jede Seite benötigt */
:root {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #2a3647;
  --color-bg-tertiary: #f6f7f8;
  --color-bg-quaternary: #f5f5f5;
  --color-text-main: #000000;
  --color-link: #a8a8a8;
  --color-user-mail: #007cee;
  --color-highlights: #29abe2;
  --color-bg-selected: #091931;
  --color-btn-medium: #ffa800;

  --color-category-story: #0038ff;
  --color-category-technical: #1fd7c1;
  --color-category-feature: #61f144;

  --color-menu-hover: #2A3D59;
  --color-menu-active: #091931;
  --color-menu-button-text: #cdcdcd;
}
