@import url(./root.css);
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: 232px 1fr;
  grid-template-rows: 80px 1fr;
  height: 100vh;
}

main {
  background-color: var(--color-bg-tertiary);
}
/*header*/
.summary-header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

p {
  color: var(--color-bg-secondary);
  font-size: 28px;
}

.vertical-line {
  width: 3px;
  height: 40px;
  background-color: var(--color-highlights);
}

/*content*/

.content-area {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 60px;
  overflow-y: auto;
}

.dasboard-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 40px;
}

/*cards*/

.summary-card {
  display: flex;
  justify-content: center;
  background-color: var(--color-bg-primary);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  flex: 1 1 264px;
  padding: 25px;
  width: 100%;
  height: 168px;
  max-width: 264px;
}

.summary-card-content {
  display: flex;
  align-items: center;
}

.summary-card-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}

.summary-card:hover {
  background: var(--color-highlights);
  transition: 75ms;
  color: white;
  cursor: pointer;
}

.top-row,
.urgent-row {
  display: flex;
  padding: 38px 0;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
}

.stat-number {
  font-size: 54px;
  font-weight: 600;
}

.stat-label {
  font-size: 34px;
  font-weight: 400;
}

/* Placeholder: */
.sidebar-placeholder {
  grid-row: 1 / 3;
  background-color: var(--dark-blue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-placeholder {
  grid-column: 2 / 3;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
