body {
  margin: 0px;
}

.layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

aside {
  grid-area: sidebar;
}

main {
  grid-area: main;
}