<section class="inner-sidebar-login-content">
    <div class="menu-top">
        <img class="aside-logo" src="../assets/logos/nav-logo.svg" alt="Join Logo">
    
    <div class="menu-center-login">
        <div id="menuLogout" class="nav-item nav-link" onclick="backToLogin()">
            <img src="../assets/icons/nav-login.svg" alt="Log In Icon">
            <span class="nav-text">Log In</span>
        </div>
    </div>
    </div>
    <div class="menu-bottom-login">
        <div id="menuPrivacyLogin" class="nav-link" onclick="setActiveNavItem(this); loginNavigateTo('privacy')">
            <span class="menu-bottom-link">Privacy Policy</span>
        </div>
        <div id="menuLegalLogin" class="nav-link" onclick="setActiveNavItem(this); loginNavigateTo('imprint')">
            <span class="menu-bottom-link">Legal Notice</span>
        </div>
    </div>
</aside>