<header class="header">
  <div class="header-left">
    <div class="header-left-wrapper">
      <img src="../assets/logos/main-logo.svg" alt="Logo" class="header-logo">
      <p class="header-headline">Kanban Project Management Tool</p>
    </div>
    <div class="header-right">
      <div class="help-icon" onclick="navigateTo('help'); openHelp();">
        <img src="../assets/icons/help-icon.svg" alt="Help">
      </div>

      <div id="headerAvatar" class="header-avatar" onclick="toggleAvatarDropdown(event)">G</div>
      <div id="avatarDropdown" onclick="event.stopPropagation()" class="avatar-dropdown">
        <a class="avatar-dropdown-item hide-menu-help" href="#"
          onclick="navigateTo('help'); closeOpenElements();">Help</a>
        <a class="avatar-dropdown-item" href="#" onclick="navigateTo('imprint'); closeOpenElements();">Legal
          Notice</a>
        <a class="avatar-dropdown-item" href="#" onclick="navigateTo('privacy'); closeOpenElements();">Privacy
          Policy</a>
        <a class="avatar-dropdown-item" href="#" onclick="logOut()">Log out</a>
      </div>
    </div>
    
  </div>
</header>